.nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    justify-content: space-evenly;
    z-index: 100;
}

.nav__logo-container {
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
  
.nav__logo-container span {
    color: var(--white-color);
    font-size: 25px;
    font-weight: bold;
}