@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --font-marker: "Permanent Marker", cursive;
  --primary-color: #040218;
  --blue-color: #0fa5a5;
  --purple-color: #65089e;
  --pink-color: #9c03a1;
  --gray-color: #b7babe;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
