@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --font-base: "Roboto", roboto;
  --font-marker: "Permanent Marker", cursive;
  --color-bg: #1f1f38;
  --color-primary: #4bd5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --primary-color: #040218;
  --purple-color: #65089e;
  --pink-color: #9c03a1;
  --gray-color: #b7babe;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background-image: url .. */
}

/* General Styles for portfolio */

.container {
  width: var (--contianer-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(color-light);
}